.nav a {
    color: #fff;
    text-decoration: none;
}
.nav {
    padding-left: 8%;
}
select.form-select {
    display: inline-block;
    width: 225px;
    background: transparent url('../../img/arrow_down.png') no-repeat !important;
    color: #fff;
    border-radius: 20px;
    background-position: 200px !important;
    background-size: 16px 12px !important;
    cursor: pointer;
}
.form-select option {
    color: #fff;
    background-color: #000;
}
#search {
    float: right;
    position: relative;
}
#search .form-control {
    background: transparent;
    border: 1px solid #fff;
    border-radius: 20px;
    color: #fff;
    max-height: 2.2rem;
}
#search .btn {
    position: absolute;
    top: -2px;
    right: 0;
    border: none;
}
#search .btn:hover {
    color: #fff;
    background-color: transparent;
}

element.style {
}
#search .btn {
    position: absolute;
    top: -2px;
    right: 0;
    border: none;
}
#search .btn img {
    height: 16px;
    position: relative;
    bottom: 1px;
}
button:focus:not(:focus-visible) {
    outline: 0;
}
.btn-check:focus+.btn-outline-secondary, .btn-outline-secondary:focus {
    box-shadow: none !important;
}
@media screen and (min-width: 344px) {
    select.form-select {
        margin-left: 1rem;
    }
}